.post .title, .tagline {
    margin:0px
}

.post .title{
    font-size: 20px;
}

.vote{
    list-style-type: none;
}

.vote, .downvote{
    background-color: white;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
}