.post .title, .tagline {
    margin:0px
}

.post .title{
    font-size: 20px;
}

.vote{
    list-style-type: none;
}

.vote, .downvote{
    background-color: white;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
}

.comment-list{
    list-style-type: none;
    background-color: #FAFAFA;
    padding: 4px;
    margin: auto;
    display: table;
}

#post-meta{
    color: #6E6E6E;
    font-size:12px;
}

#post-action{
    font-size:12px;
}