{% extends 'base.html' %}

{% load staticfiles %}

{% block body %}
<div class="container">
        <h1>Add a Link</h1>

        <form id="post_form" method="post" action="/reddit/add_post/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit" name="submit" value="Create Post" />
        </form>
</div>
{% endblock %}