{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}


{% block head %}
{% endblock %}

{% block body %}
<!--original post-->
<div class="contianer">
        <div class="sitetable">
                <div class="row">
                    <!---Votes---->
                    <div class="col-xs-1 col-sm-1">
                        <ul class="vote text-center">
                            <li>
                                <button class="vote" data-postid="{{ post.id }}" type="button">
                                    <span class="arrow glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                </button>
                            </li>

                            <li>
                                <span class="vote-count" data-postid="{{ post.id }}">{{ post.votes }}</span>
                            </li>

                            <li>
                                <button class="downvote" data-postid="{{ post.id }}" type="button">
                                    <span class="arrow glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <!---Post, info-->
                    <div class="col-xs-7 col-sm-7 post">
                        <p class="title">
                            <a class="title" href="{{ post.url }}">{{ post.title }}</a>
                        </p>

                        <p id="post-meta">
                            <time>{{ post.pub_datetime }}</time>
                            by {{ post.user }} to <a href="#">{{ post.subreddit }}</a>
                        </p>
                        <p id="post-meta">
                            <b>{{ post.comment_count }} comments</b>
                        </p>
                    </div>
                </div>
        </div>
</div>

<!--comment field-->
<div class="container">
<div class="col-xs-8 col-sm-8">
<form id="postcomment" method="post" action="">
        {{form.as_p}}
        <p><input type="submit" value="Submit" /></p>
        {% csrf_token %}
    </form>
    <ul id="commenters">
    {% for c in comment_tree %}
        <li id="{{c.id}}" class="comment-list" style="margin-left:{{c.depth|add:c.depth}}em;">
            <p class="poster" id="post-meta">{{ c.user }}-{{c.pub_datetime|naturaltime}}
            <a href="" class="span-shrink" id="shrink" >[-]</a>
            </p>
            <p id="comment-text">{{c.text}}</p>
            <p><a href="" class="reply" id="post-action">reply</a></p>
        </li>
    {% empty %}
        <li>There are currently no comments. You can be first!</li>
    {% endfor %}
    </ul>
</div>
</div>

{% endblock %}
