{% extends 'base.html' %}

{% load staticfiles %}

{% block body %}
    <div class="container">
        <h1>reddit/{{ subreddit.name | lower }}</h1>

        <div class="sitetable">
            {% for post in posts %}
                <div class="row">
                    <!---Votes---->
                    <div class="col-xs-1 col-sm-1">
                        <ul class="vote text-center">
                            <li>
                                <button class="vote" data-postid="{{ post.id }}" type="button">
                                    <span class="arrow glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                </button>
                            </li>

                            <li>
                                <span class="vote-count" data-postid="{{ post.id }}">{{ post.votes }}</span>
                            </li>

                            <li>
                                <button class="downvote" data-postid="{{ post.id }}" type="button">
                                    <span class="arrow glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <!---Post, info-->
                    <div class="col-xs-7 col-sm-7 post">
                        <p class="title">
                            <a class="title" href="{{ post.url }}">{{ post.title }}</a>
                        </p>

                        <p id="post-meta">
                            <time>{{ post.pub_datetime }}</time>
                            by {{ post.user }} to <a href="{% url 'subreddit' post.subreddit.slug %}">{{ post.subreddit }}</a>
                        </p>
                        <p id="post-meta">
                            <b><a href="{% url 'post' post.slug %}">{{ post.comment_count }} comments </a></b>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}